* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  color: white;
  font-size: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.canal {
  background: url("./river_bank.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.newyork {
  background: url("./newyork.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #a2d729;
}
.tube {
  color: #ffc857;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./tube.jpeg") center/cover fixed no-repeat;
}
.sky {
  background: url("./sky.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: red;
}
